<div class="flex flex-row justify-between items-center m-14 font-Beba text-3xl">
    <div>Logo</div>
    <div class="flex flex-row gap-12">
        <div>Projects</div>
        <div> <a href="{{ path('main_resume') }}">Resume</a></div>
        <div>Shop</div>
        <div>{{ source('svg/cart-svgrepo-com.svg')}}</div>
        <div> <a href="{{ path('app_contact') }}">Contact</a></div>

        {% if is_granted('ROLE_ADMIN') %}
            <div><a href="{{ path('app_admin') }}">Dashboard</a></div>
        {% endif %}
        {% if app.user %}
        <div><a href="{{ path('app_logout') }}">Déconnexion</a></div>
        {% else %}
        <div><a href="{{ path('app_login') }}"> Connexion</a></div>
    {% endif %}
        <div>{{ source('svg/earth-svgrepo-com.svg')}}</div>
    </div>
</div>
